<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="EyeSoft.Core" version="3.0.6201.15091" targetFramework="net40" requireReinstallation="true" />
  <package id="EyeSoft.Windows" version="3.0.6201.15091" targetFramework="net40" requireReinstallation="true" />
  <package id="EyeSoft.Windows.Installer.InstallMate" version="3.0.6201.15091" targetFramework="net40" requireReinstallation="true" />
</packages>