<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="me5cd2w04s.database.windows.net_fvp-database_Connection"
            connectionString="XpoProvider=MSSqlServer;data source=me5cd2w04s.database.windows.net;user id=fairvaluepro;password=VTS344david;initial catalog=fvp-database;Persist Security Info=true" />
        <add name="me5cd2w04s.database.windows.net_fvp-database_Connection 1"
            connectionString="XpoProvider=MSSqlServer;data source=me5cd2w04s.database.windows.net;user id=fairvaluepro;password=VTS344david;initial catalog=fvp-database;Persist Security Info=true" />
        <add name="FairValueProImportTool.Properties.Settings.fvp_databaseConnectionString"
            connectionString="Data Source=me5cd2w04s.database.windows.net;Initial Catalog=fvp-database;Persist Security Info=True;User ID=fairvaluepro;Password=VTS344david"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>